@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* @font-face
{
    font-family: 'Roboto Mono';
    font-weight: 100;
    font-style: normal;
    src: url('fonts/Roboto/Roboto-Regular.ttf');
} */

.p-summary {
  position: absolute;
  top: 25%;
  left: 37.3%;
  z-index: 2;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.p-summary #clock {
  font-family: "Lexend";
  
  font-weight: 100;
  
  font-size: 3em;
}
.p-summary #day {
  font-family: "Lexend";
  
  font-weight: 100;

  font-size: 5em;
  line-height: .3em;
  /* transform: rotate(-4deg); */
  height: .4em;
  opacity: .7;

  margin-top: 25px;
}
.p-summary #date {
  font-family: "Lexend";

  font-weight: 100;

  font-size: 3em;

  margin-top: 25px;
}

.p-canvas-webgl {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  /* background-color: black; */

  opacity: 100%;

  /* display: none; */
}

.background-black {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  opacity: 90%;

  background-color: black;
}

/* my code */

.player-box {

  position: absolute;

  width: 300px;
  height: 120px;

  bottom: 25px;
  left: 25px;

  border-radius: 15px;
  background: linear-gradient(143deg, rgba(255, 255, 255, 0.05) 0%, rgba(4, 4, 4, 0.05) 100%);
  backdrop-filter: blur(2px);
}

.auto-align-flex {
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider-container {
  width: 100%;
  height: 100%;

  position: relative;

  /* background-color: red; */

  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-bar {
  width: 4px;
  height: 83px;
}

.slider-knob {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  /* background-color: white; */
}

.active-icon {
  width: 81px;
  height: 17px;
}

.content-container {
  width: 125px;

  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.song-title {
  color: #FFF;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 5px;
}

.artist-name {
  color: #888;
  /* font-family: Lexend; */
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;

  margin-top: -15px;
}

.media-controls {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.media-icon {
  width: 22px;
  height: 22px;
}

.thumbnail {
  width: 83px;
  height: 83px;
}